<!--This view is rendered for the welcome action on the Pages controller-->
<body>
  <div class="hero-unit">
    <h1>Ebrickandmortar</h1>
      <h2>Shop your local stores online.</h2>
        <form class="form-search">
          <div class="control-group">
            <label class="control-label" for="inputZip">Please enter zipcode</label>
            <div class="controls">
              <input type="text" class="input-medium search-query" placeholder="e.g., 60660">
            </div>
          </div>
          <h3>Or</h3>
          <div class="control-group">
            <label class="control-label" for="inputStoreName">Search for locally owned stores</label>
            <div class="controls">
              <input type="text" class="input-medium search-query" placeholder="e.g., Golden Legs Running">
            </div>
          </div>  
          <button type="submit" class="btn btn-primary btn-large">Search stores &raquo;</button>
        </form>      
  </div>
</body>
