<!--This view is rendered for the welcome action on the Pages controller-->
<body>
  <div class="hero-unit">
    <!--<h1>Ebrickandmortar</h1>-->
      <h2>Shop your local stores online</h2>
  <fieldset>
<%= form_tag stores_path, class: "form-search", :method => 'get' do %>
  <div>
    <%= label_tag "Search by zip code, store name, or products" %>
    <%= text_field_tag :search, params[:search], placeholder: "e.g., 60616, running shoes" %>
    <%= submit_tag "Search!", :name => nil, class: 'btn btn-large btn-primary' %>
  </div>
  <% end %>
  </fieldset>
</body>
