<%= form_for [@store, @product] do |f| %>

  

 
  <ul class="formActions">
    <li class="list"><%= link_to 'Back to list', store_path(@product.store) %></li>
    <li><%= f.submit "Save" %></li>
  </ul>

<% end %>
