<!--Crib this markup from the simplified Location show view-->
<blockquote class="hero-unit">
  <div>
    <h3><%= @store.title %></h3>
    <small>
      <%= image_tag(@store.image_url) %>
    </small>
    </div>
